
nav{
   background-color: #00cc00;
   overflow: hidden;
   top: 0;
   position: sticky;

}

nav li{
  display: inline-block;
}

nav a{
 float: left;
 color: #ffffff;
 text-align: center;
 padding: 10px 12px;
 text-decoration: none;
 font-size: 17px;

}

nav a.active{
  background-color: #85adad;
}
nav a:hover {
    background-color: #e0ebeb;
    color: black;
    opacity: 0.5;

}
div a{
  text-decoration: none;
}

body{
background-color: white;
font-family:inherit;
}

p {
    font-family: 'Oswald', sans-serif;
    margin-left: 5%;
    margin-right: 5%
  }

img{
  width: 100%;
}


table{
  border-color: #ccff99;
  font-family: 'Oswald', sans-serif;
  color: black;
  margin-left: 5%;
}

table td{
  border: 1px solid black;
   border-collapse: collapse;

}

h1{
font-family: 'Alfa Slab One', cursive;
margin-left: 5%;
}
 iframe{
   margin-left: 25%;
   margin-top: 2%;
 }
 h2{
   font-size: 60px;
   font-family: 'Lalezar', cursive;
   padding-left: 25%;
 }

 h3{
   padding-left: 25%;
   font-size: 50px;
   font-family: 'Lalezar', cursive;
 }
h4{
  font-family: 'Oswald', sans-serif;
  padding-left: 25%;
}
#kaart{
  padding-left: 60%;
  margin-top: -240px;
}

.tekst_contact{
  margin-top: -1200px;
  margin-left: 400px;
  font-size: 60px;
  color: white;

}
