
.topnav{
   background-color: #00cc00;
   overflow: hidden;
   top: 0;
   position: sticky;
}

.topnav a{
 float: left;
 color: #ffffff;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 17px;

}

.topnav a.active{
  background-color: #85adad;
}
.topnav a:hover {
    background-color: #e0ebeb;
    color: black;
    opacity: 0.5;

}
div a{
  text-decoration: none;
}

body{
background-color: white;
font-family:inherit;
}

p {
    font-family: 'Oswald', sans-serif;
    color: ##6666ff;
}

img{
  width: 100%;
}


table{
  border-color: #ccff99;
  font-family: 'Oswald', sans-serif;
  color: black;
}

table td{
  border: 1px solid black;
   border-collapse: collapse;

}

h1{
font-family: 'Alfa Slab One', cursive;
}
 iframe{
   padding-left: 25%;
   padding-top: 2%;
 }
 h2{
   font-size: 60px;
   font-family: 'Lalezar', cursive;
   padding-left: 25%;
 }

 h3{
   padding-left: 25%;
   font-size: 50px;
   font-family: 'Lalezar', cursive;
 }
h4{
  font-family: 'Oswald', sans-serif;
  color: ##6666ff;
  padding-left: 25%;
}
#kaart{
  padding-left: 60%;
  margin-top: -240px;
}
